<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="c:\temp\internal-nlog.txt">
    <!-- 启用 asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
  
  <!-- 日志模板  -->
  <variable name="my-template" value="date：	${date}
            ${newline}level：	${level}
            ${newline}message：	${message}
            ${newline}exception:    ${exception:format=tostring}
            ${newline}callsite：    ${callsite}
            ${newline}stacktrace:   ${stacktrace}
            ${newline}-----------------------------------------------
            ${newline} " />
  
    <!-- 设置目标日志文件路径  -->
    <targets>
        <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	 
        <target xsi:type="File" name="log_info" fileName="${basedir}/logs/nlog_info_${shortdate}.log" layout="${my-template}" />
        <target xsi:type="File" name="log_warning" fileName="${basedir}/logs/nlog_warning_${shortdate}.log" layout="${my-template}" />
        <target xsi:type="File" name="log_error" fileName="${basedir}/logs/nlog_error_${shortdate}.log" layout="${my-template}" />
        <target xsi:type="File" name="log_fatal" fileName="${basedir}/logs/nlog_fatal_${shortdate}.log" layout="${my-template}" />
    </targets>
  
    <!-- rules to map from logger name to target -->
    <rules>
        <!--记录所有日志, 包括微软产生的，这里需要注释掉-->
        <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
	  
        <!--跳过所有的微软日志-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
	  
        <!-- BlackHole without writeTo -->
        <logger name="*" minlevel="Info" writeTo="log_info" />
        <logger name="*" minlevel="Warn" writeTo="log_warning" />
        <logger name="*" minlevel="Error" writeTo="log_error" />
        <logger name="*" minlevel="Fatal" writeTo="log_fatal" />
	
        <!-- NLog记录等级
            Trace - 最常见的记录信息，一般用于普通输出
            Debug - 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
            Info - 信息类型的消息
            Warn - 警告信息，一般用于比较重要的场合
            Error - 错误信息
            Fatal - 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
            off - 关闭
            自上而下，等级递增。 -->
    </rules>
</nlog>